langchain==0.1.20
langchain-community==0.0.38
langchain-google-genai==1.0.10
langchain-huggingface==0.0.3
faiss-cpu==1.8.0
sentence-transformers==2.7.0
google-generativeai==0.7.2
python-dotenv==1.0.1
pdfplumber==0.11.4
Pillow==10.3.0
pandas==2.2.2
rank_bm25==0.2.2
streamlit==1.40.2